<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trang quản trị</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.0/tailwind.min.css"
      integrity="sha512-ksC7McuoU4VJ07WGtca5INyDRXzGsmhyEEJYzoWBkjC/KwuG+IK/pFnxJFNIGmOd8pmGexOxd3FziCPZXQJ4lA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- spinner -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/css/index.css" />
  </head>
  <body>
    <header class="shadow-lg fixed w-full">
      <div class="container h-20">
        <div class="logo">
          <a href="../../index.html" class="hover:no-underline">HQ Shop</a>
        </div>
      </div>
    </header>

    <section class="actions container pt-24 flex justify-end">
      <!-- Search product by name -->
      <div class="search-product flex">
        <div class="input-group">
          <div class="input-group-btn" id="search-product-btn">
            <span class="btn btn-default border">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Tìm kiếm sản phẩm"
            id="search-product-input"
          />
        </div>
      </div>

      <!-- Sort price -->
      <div class="sort-price flex ml-3 items-center border px-2 rounded-lg">
        <span class="flex mr-2">Sắp xếp</span>
        <select name="type" id="sort-price-type">
          <option value=""></option>
          <option value="priceLowHigh">Giá: thấp đến cao</option>
          <option value="priceHighLow">Giá: cao đến thấp</option>
        </select>
      </div>

      <!-- Add a new product -->
      <button
        type="button"
        class="btn btn-primary flex ml-3"
        data-toggle="modal"
        data-target="#exampleModal"
        id="add-product-btn"
      >
        <i class="fa fa-plus"></i>
        Thêm sản phẩm
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="productModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sản phẩm</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             
                <div class="mb-3">
                  <label for="price" class="form-label">Price</label>
                  <input type="text" class="form-control" id="price" />
                  <span id="spanPrice"></span>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" />
                  <span id="spanName"></span>
                </div>
                <div class="mb-3">
                  <label for="backCamera" class="form-label">Screen</label>
                  <input type="text" class="form-control" id="screen" />
                  <span id="spanScreen"></span>
                </div>
                <div class="mb-3">
                  <label for="backCamera" class="form-label">Back camera</label>
                  <input type="text" class="form-control" id="backCamera" />
                  <span id="spanbackCamera"></span>
                </div>
                <div class="mb-3">
                  <label for="frontCamera" class="form-label"
                    >Front camera</label
                  >
                  <input type="text" class="form-control" id="frontCamera" />
                  <span id="spanfrontCamera"></span>
                </div>
                <div class="mb-3">
                  <label for="img" class="form-label">Image</label>
                  <input type="text" class="form-control" id="img" />
                  <span id="spanImage"></span>
                </div>
                <div class="mb-3">
                  <label for="desc" class="form-label">Description</label>
                  <input type="text" class="form-control" id="desc" />
                  <span id="spanDesc"></span>
                </div>
                <div class="mb-3">
                  <label for="type" class="form-label">Type</label>
                  <input type="text" class="form-control" id="type" />
                  <span id="spanType"></span>
                </div>
                <button id="addBtn" type="button" class="btn btn-primary">
                  Thêm
                </button>
                <button id="updateBtn" type="button" class="btn btn-success">
                  Cập nhật
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="progressDialog"></div>

    <section class="products container pt-5">
      <div id="admin-products-display"></div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
      integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- controller -->
    <!-- <script src="../controller/validate.js"></script>
    <script src="../controller/controller.js"></script> -->
    <script type="module" src="../controller/index.js"></script>
  </body>
</html>
